html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
body { line-height: 1; }
ol, ul { list-style: none outside none; }
:focus { outline: 0pt none; }
table { border-collapse: collapse; border-spacing: 0pt; }
.clearfix:after, .container:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
html { font-size: 100.01%; width: 100%; margin: 0pt auto; }
body { color: rgb(102, 102, 102); background: url('../images/body-bg.png') repeat scroll center top rgb(255, 255, 255); font-family: Tahoma,Geneva,sans-serif; font-size: 75%; line-height: 1.8em; }
h1, h2, h3, h4, h5, h6 { font-family: 'Droid Sans',Arial,"Times New Roman",Times,serif; font-weight: normal; line-height: 1.5em; margin-bottom: 0pt; color: rgb(102, 102, 102); }
h2 { font-size: 2.0em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
p { margin: 0pt 0pt 0.3em; }
img {  }
a:link { text-decoration: none; outline: medium none; color: #005BAB; }
a:visited { text-decoration: none; color: #00AEF1; }
a:hover { text-decoration: none; color: #00AEF1; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
sup, sub { line-height: 0; }
.floatleft { float: left; }
li ul, li ol { margin: 0pt; }
ul, ol { list-style: none; }
dl { margin: 0pt 0pt 2em; }
dl dt { font-weight: bold; padding-top: 0.2em; padding-bottom: 0.2em; }
dd { margin-left: 1.5em; padding-top: 0.2em; padding-bottom: 0.2em; }
table { margin-bottom: 1.4em; width: 100%; }
th, td, caption { padding: 0pt; }
.inputbox, input[type="text"], input[type="email"], input[type="password"] { color: rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(198, 217, 233); margin: 0pt 0.25em 0pt 0pt; padding: 4px 7px; -moz-transition: all 0.4s ease-in 0s ; }
.inputbox:hover, .inputbox:focus, input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="password"]:hover, input[type="password"]:focus { box-shadow: 0pt 0pt 12px rgb(184, 216, 236); color: rgb(102, 102, 102); }
select, select.inputbox { width: 125px; color: rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(198, 217, 233); padding: 6px 4px; -moz-transition: all 0.4s ease-in 0s ; outline: medium none; }
select option {  }
select:focus {  }
div.success, p.success, div.notice, p.notice, div.error, p.error { padding: 0.6em 1em 0.6em 3.4em; box-shadow: -1px -1px 0pt rgb(255, 255, 255) inset, 1px 1px 0pt rgb(255, 255, 255) inset; border: 1px solid rgb(255, 255, 255); margin-bottom: 2em; }
div.success, p.success { color: rgb(38, 68, 9); background: url('../images/typo_success.png') no-repeat scroll 10px center rgb(230, 239, 194); border: 1px solid rgb(206, 224, 134); }
button, input.button, a.button, input[type="submit"] { font-family: Verdana,Geneva,sans-serif; background: -moz-linear-gradient(center top , rgb(85, 144, 189), rgb(46, 119, 174)) repeat scroll 0% 0% transparent; box-shadow: -1px -1px 0pt rgba(255, 255, 255, 0.1) inset, 1px 1px 0pt rgba(255, 255, 255, 0.3) inset; border: 1px solid rgb(46, 119, 174); color: rgb(255, 255, 255) ! important; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); display: inline-block; padding: 2px 12px 4px; cursor: pointer; border-radius: 5px 5px 5px 5px; font-size: 1.1em; margin: 0pt 0.25em; white-space: nowrap; text-decoration: none; -moz-transition: all 0.3s ease-out 0s ; }
button:hover, input.button:hover, a.button:hover, input[type="submit"]:hover { background: -moz-linear-gradient(center top , rgb(101, 201, 53), rgb(81, 161, 43)) repeat scroll 0% 0% transparent; border-color: rgb(81, 161, 43); box-shadow: -1px -1px 0pt rgba(255, 255, 255, 0.5) inset, 1px 1px 0pt rgba(255, 255, 255, 0.5) inset; }
button:focus, input.button:focus, a.button:focus, input[type="submit"]:focus { background: none repeat scroll 0% 0% rgb(81, 161, 43); }
.moduletable p:last-child { margin-bottom: 0pt; }
#footer .separator { position: relative; }
#footer .moduletable { padding: 0pt 0pt 0pt 15px; line-height: 1.9em; margin: 0pt 10px 10px 0pt; }
#footer .moduletable h3.mod-title { font-size: 1.5em; color: rgb(44, 118, 173); border-left: 3px solid rgb(171, 207, 233); text-shadow: 1px 1px 1px rgb(255, 255, 255); padding: 0pt 0pt 0pt 10px; margin-bottom: 7px; }
#footer .moduletable h3.mod-title span { color: rgb(119, 119, 119); font-family: Verdana,Geneva,sans-serif; display: block; font-size: 12px; line-height: 1.6em; margin-bottom: 10px; margin-top: -3px; }
#footer .width25 { width: 25%; }
p.readmore { clear: both; margin-bottom: 1em; }
p.readmore a { display: inline-block; font-size: 1.2em; text-decoration: none; -moz-transition: padding 0.3s ease-out 0s; background-position: 95% 35%; }
p.readmore a:hover { padding-right: 30px; background: url('../images/readmore.png') no-repeat scroll 95% 35% transparent; }
p.readmore a:focus { box-shadow: 0pt 0pt 4px rgba(0, 0, 0, 0.25) inset; }
/* Main BEGIN */
.title-main, .title-right { position: relative; float: left; width: 100%; margin: 0 0 5px 0; background: url('../images/stripe.png') repeat-x scroll 0 10px transparent; }
.title-main h3, .title-right h4 { float: left; background-color: #fff; padding-right: 10px; color: #F78C00; }
.title-right { background-position: 0 4px; }
.view_more{ float:right;margin-top:10px; color: #F78C00 !important; }
.view_more:hover{ text-decoration: underline; }
.post-date { color: #ccc; }
.img-holder {float: left; margin-right: 10px;}
.img-border { padding: 2px; border: 1px solid #ddd; }
.box-shadow { -moz-box-shadow: 0 0 5px #ddd;-webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd; }
.box-border-round { border: 1px solid #ddd; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.clear { clear: both; }
/* -------- END */
/* Header wrapper BEGIN */
#accessibility { display: none; }
.wrapper { width: 990px; margin: 0pt auto; }
#header { margin: 10px auto; }
#header .wrapper { position: relative; height: 321px; background: none repeat scroll 0% 0% rgb(255, 255, 255); -moz-border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; }
/* -------- END */
/* Top menu and Keyword search BEGIN */
#topmenu { position: relative; padding: 5px 0; height: 23px; border-top: 3px solid #F78C00; border-bottom: 1px solid #ECECEC; background-color: #FBFBFB; }
#topmenu ul.menu { margin: 0pt; padding: 0pt; line-height: 26px; }
#topmenu ul.menu li { display: inline; float: left; padding: 0pt 1.1em 0pt 0pt; margin: 0pt 0pt 0pt 1.1em; text-shadow: 1px 1px 1px rgb(255, 255, 255); list-style-type: none; }
#topmenu ul.menu li a { color: rgb(63, 88, 104); padding-bottom: 2px; }
#topmenu ul.menu li.active a, #topmenu ul.menu li a:hover { color: rgb(0, 0, 0); border-bottom-color: rgba(0, 0, 0, 0.9); text-decoration: none; }
#topmenu ul.menu li:last-child { border: medium none; padding-right: 0pt; }
#topmenu div.keyword-search-holder { position: relative; float: right; }
#keyword-search-text {  width: 165px; height: 25px; top:-5px; right: 30px; position: absolute; border-bottom: none; border-top: none; border-right: none; }
#keyword-search-act { width: 39px; height: 34px; top: -5px; right: 0; padding: 0; position: absolute; border: none; background: url('../images/top-search-btn.png') no-repeat scroll 0 0 transparent; }
#keyword-search-act:hover { background-position: 0 -41px; cursor: pointer;}
/* -------- END */
/* Logo and Banner holder BEGIN */
#logo { float: left; width: 200px; height: 110px; padding: 8px 10px; margin: 0 10px; }
#logo img { float: none; margin: 0pt; }
#banner { float: left; width: 728px; height: 90px; margin: 15px 0; border: 2px solid #d6d6d6; }
#banner img { float: none; margin: 0pt; }
/* -------- END */
/* Navigator BEGIN */
#nav-wrapper { float: left; position: relative; z-index: 9999; width: 100%; margin: 5px 0 0; height: 58px; background: url('../images/nav-bg.png') repeat-x scroll 0 0 transparent; }
#nav-wrapper ul { display: block; margin-left: 15px; height: 53px; }
#nav-wrapper ul li { display: block; margin: 6px 0 0; float: left; border-right: 1px solid #000; }
#nav-wrapper ul li:hover { background: url('../images/nav-bg-hover.png') repeat-x scroll 0 0 transparent; }
#nav-wrapper ul li a { color: #fff; padding: 12px 24px; float: left; }
#nav-wrapper ul li a:hover { color: #F78C00; text-decoration: none; }
#nav-wrapper ul li.home-btn { margin: 0; background: url('../images/home-btn.png') no-repeat scroll 0 0 transparent; height: 53px; width: 72px; display: block; border: none; }
#nav-wrapper ul li.home-btn:hover { background-position: 0 -58px; }
#nav-wrapper ul li.home-btn a { padding: 26px 36px;}
/* -------- END */
/* Search holder and Hotline BEGIN */
#search-holder { position: relative; float: left; width: 960px; height: 85px; background-color: #F5F5F5; -moz-border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; padding: 5px 15px; }
#search-holder div { position: relative; float: left;}
#search-holder div.col-1 { width: 665px; margin-right: 10px; border-right: 1px solid #ccc; height: 85px; }
#search-holder div.col-1 div { margin: 5px; }
#search-holder div.col-1 div.sale-type-holder { width: 266px; color: #F78C00; font-size: 16px; font-weight: bold; cursor: pointer; }
#search-holder div.col-1 div.sale-type-holder label:hover { cursor: pointer; }
#search-holder div.col-2 { width: 284px; height: 85px; }
#search { position: absolute; top: 47px; right: 0pt; }
#search .inputbox { padding: 3px 8px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(199, 226, 242); width: 140px; -moz-transition: all 0.4s ease-out 0s ; }
#search .inputbox:hover, #search .inputbox:focus { border-color: rgb(157, 204, 232); width: 220px; }
#search .button { padding: 1px 6px 3px; }
#search .button:hover {  }
/* -------- END */
/* Breadcrumbs and Login Register bar BEGIN */
#breadcrumbs-bar { height: 22px; margin: 0 auto; padding: 10px 15px; border-bottom: 1px solid #ddd; position: relative; background-color: #FFF; width: 960px; -moz-box-shadow: 0 -2px 5px #ddd;-webkit-box-shadow: 0 -2px 5px #ddd;box-shadow: 0 -2px 5px #ddd; }
#breadcrumbs-bar .breadcrumbs { float: left; font-size: 12px; }
#breadcrumbs-bar .login-regist { float: right; }
#breadcrumbs-bar .login-regist .login, #breadcrumbs-bar .login-regist .register { color: #00AEF1; margin-right: 10px; padding-left: 15px; background: url("../images/note.png") no-repeat scroll 0 4px transparent; }
#breadcrumbs-bar .login-regist .login:hover, #breadcrumbs-bar .login-regist .register:hover { color: #F78C00; cursor: pointer; }
#breadcrumbs-bar .login-regist .new-post { margin-left: 10px; padding: 5px 21px 5px 5px; color: #fff; font-weight: bold; background: url('../images/dangtin.png') no-repeat scroll 0 0 transparent; }
#breadcrumbs-bar .login-regist .new-post:hover { cursor: pointer; background-position: 0 -29px; }
/* -------- END */
/* Content BEGIN */
#site_wrapper { width: 990px; margin: 0 auto; }
#content { position: relative; float: left; width: 990px; background-color: #fff; }
#content .content-change { position: relative; float: left; padding: 15px; width: 960px; }
#content_inside { position: relative; width: 675px; margin-right: 15px; float: left; }
#right-column { position: relative; float: right; width: 270px; }
/* -------- END */
/* Home BEGIN */
#icetabs { position: relative; float: left; overflow: hidden; margin-bottom: 15px; padding: 0pt; }
#icetabs div.col-1 { position: relative; float: left; width: 635px; margin-right: 15px; }
#icetabs div.col-2 { position: relative; float: left; width: 310px; height: 742px; }
/* -------- END */
/* Slider home BEGIN */
.ice-tabs-candy { position: relative; float: left; overflow: hidden; padding: 2px; height: 340px; width: 630px; margin: 0 15px 15px 0; border: 1px solid #ddd; }
.ice-tabs-candy li { list-style-type: none ! important; }
.ice-tabs-candy .ice-main-wapper { overflow: hidden; z-index: 99; position: absolute; height: 340px; width: 630px; }
.ice-tabs-candy .ice-main-wapper .ice-main-item { overflow: hidden; padding: 0px; margin: 0px; height: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 100%; position: absolute; }
.ice-tabs-candy .ice-main-wapper .ice-main-item .ice-description { position: absolute; bottom: -48px; width: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); -moz-transition: all 0.3s ease-out 0s ; padding: 0pt; }
.ice-tabs-candy:hover .ice-main-wapper .ice-main-item .ice-description { bottom: 0px; }
.ice-tabs-candy .ice-main-wapper .ice-main-item .ice-description2 { font-size: 1.1em; padding: 10px; color: rgba(255, 255, 255, 0.7); line-height: 1.65em; }
.ice-tabs-candy .ice-main-wapper .ice-main-item h3.ice-title { line-height: 1.35em; clear: none; font-size: 1.9em; padding: 0pt; color: rgb(255, 255, 255); -moz-transition: all 0.3s ease-out 0s ; margin: 0pt; }
.ice-tabs-candy .ice-main-wapper .ice-main-item a { text-decoration: none; color: rgba(255, 255, 255, 0.7); }
.ice-tabs-candy .ice-main-wapper .ice-main-item a:hover h3.ice-title { text-shadow: 0pt 0pt 12px rgb(255, 255, 128); }
.ice-tabs-candy .ice-main-wapper .ice-main-item p:last-child { margin-bottom: 0pt; }
.ice-tabs-candy .ice-main-wapper .ice-main-item img { width: 630px; height: 340px; }
.ice-tabs-candy .ice-navigator-wrapper { clear: both; margin: 0pt; padding: 0pt; position: absolute; top: 10px; right: 8px; }
.ice-tabs-candy .ice-navigator-outer { position: absolute; right: 0pt; top: 0px; z-index: 99; height: 20px ! important; width: 100% ! important; overflow: hidden; }
.ice-tabs-candy ul.ice-navigator { top: 0pt; padding: 0pt; margin: 0pt; left: auto ! important; right: 0pt ! important; position: relative; width: auto ! important; }
.ice-tabs-candy ul.ice-navigator li { cursor: pointer; list-style: none outside none ! important; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.35); width: 12px ! important; height: 12px ! important; padding: 0pt ! important; margin: 0pt 2px ! important; border-radius: 20px 20px 20px 20px; -moz-transition: all 0.4s ease-out 0s ; }
.ice-tabs-candy .ice-navigator li span.ice-title { display: none; }
.ice-tabs-candy ul.ice-navigator li:hover, .ice-tabs-candy ul.ice-navigator li.active { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.ice-tabs-candy ul.ice-navigator li.active .ice-title {  }
.ice-tabs-candy .ice-buttons-control { opacity: 0; -moz-transition: all 0.4s ease-out 0s ; }
.ice-tabs-candy .ice-next, .ice-tabs-candy .ice-previous { position: absolute; background: url('../images/arrows.png') no-repeat scroll 0% 0% transparent; z-index: 10; top: 42%; width: 40px; cursor: pointer; height: 40px; display: block; text-indent: -999999px; overflow: hidden; }
.ice-tabs-candy .ice-previous { background-position: 0pt 0pt; left: 5px; }
.ice-tabs-candy .ice-previous:hover { background-position: 0pt -80px; }
.ice-tabs-candy .ice-next { left: auto; right: 5px; background-position: 0pt -40px; }
.ice-tabs-candy .ice-next:hover { background-position: 0pt -120px; }
.ice-main-wapper:hover .ice-buttons-control { opacity: 1; }
.ice-top-sl-candy .ice-main-wapper, .ice-bottom-sl-candy .ice-main-wapper { position: relative ! important; }
.ice-top-sl-candy .ice-navigator-outer, .ice-bottom-sl-candy .ice-navigator-outer { position: relative; float: left; }
.ice-top-sl-candy .ice-navigator, .ice-bottom-sl-candy .ice-navigator { width: 9999em ! important; }
.ice-top-sl-candy .ice-navigator li, .ice-bottom-sl-candy .ice-navigator li { display: block; float: left; border-bottom: medium none; }
.ice-bottom-sl-candy .ice-navigator li.active { background-image: url('../images/current_tab_b.png'); background-position: center top; }
/* -------- END */
/* Top news BEGIN */
#top-news{position: relative; float: left;width: 635px;border: 1px solid #ddd;}
#top-news .big-top-news{margin: 10px; text-align: justify; height: 180px; overflow: hidden;}
#top-news .big-top-news .img-holder img{width: 250px;}
#top-news .big-top-news a h3 { color: #005BAB; }
#top-news .big-top-news a:hover h3 { color: #F78C00; }
#top-news .small-top-news{margin: 0; text-align: justify; height: 138px; overflow: hidden; border-bottom: 5px solid #005BAB;}
#top-news .small-top-news div { background-color: #F7F7F7; border-top: 3px solid #ccc; float: left; padding: 5px 5px 5px 10px; width: 302px; }
#top-news .small-top-news div a h5 { height: 30px; overflow: hidden; color: #000; }
#top-news .small-top-news div a:hover h5 { color: #F78C00; }
#top-news .small-top-news .img-holder img { width: 50px; }
#top-news .small-top-news .post-date { color: #999 !important; }
/* -------- END */
/* News adv BEGIN */
#news-adv { position: relative; float: left; width: 308px; }
#news-adv div { margin-bottom: 5px; }
#news-adv div img { width: 308px; }
/* -------- END */
/* Land trade HOME BEGIN */
.blog { position: relative; float: left; width: 100%; margin-bottom: 15px; }
.blog .item { position: relative; float: left; width: 327px; padding: 10px 0; border-bottom: 1px dashed #ddd; }
.blog .item h5 a { color: #303030; font-weight: 600; }
.blog .item h5 a:hover { color: #F78C00; }
.blog .item .img-holder img { width: 170px; }
.blog .item .item-properties ul { list-style: none; margin: 0; }
.blog .item .item-properties ul li label { font-weight: bold; margin-right: 5px; }
.blog .item .item-properties ul li a.cat-title { color: #005BAB; font-weight: bold; }
.blog .item .item-properties ul li a.cat-title:hover { color: #005BAB; text-decoration: underline; }
.blog .column-1 { padding-right: 10px; border-right: 1px dashed #ddd; }
.blog .column-2 { padding-left: 10px; }
.blog .row-1 { padding-top: 0; }
/* -------- END */
/* Ads Ad BEGIN */
.ads-ad { position: relative; float: left; padding: 0 5px; }
.ads-ad .tabs-title { height: 35px; line-height: 35px; position: absolute; top: -5px; clear: both; }
.ads-ad .tabs-title div { position: relative; float: left; width: 60px; height: 32px; margin-right: 5px; padding: 4px 5px 0; font-size: 12px; color: #F78C00; text-align: center; cursor: pointer; }
.ads-ad .tabs-title div:hover, .ads-ad .tabs-title div.ads-ad-act { background: url('../images/ads-ad-tab.png') no-repeat scroll 0 0 transparent; color: #fff; font-weight: bold; }
.ads-ad .tabs-title div.ads-ad-title { color: #000; font-weight: bold; padding-left: 20px; margin-right: 10px; background: url('../images/note.png') no-repeat scroll 8px -18px transparent; cursor: default; }
.ads-ad .ads-ad-title-col { position: relative; background-color: #0499D3; height: 30px; line-height: 30px; margin-top: 30px; }
.ads-ad .ads-ad-title-col div { position: relative; float: left; color: #fff; font-weight: bold; padding: 0 5px; }
.ads-ad .ads-ad-list { position: relative; float: left; width: 100%; padding-bottom: 15px; }
.ads-ad .ads-ad-list div { position: relative; float: left; line-height: 30px; height: 30px; overflow: hidden; padding: 0 5px; font-size: 12px; overflow: hidden; }
.ads-ad .ads-ad-list div:hover { color: #F78C00; }
.ads-ad .ads-ad-list div.ads-ad-list-row { padding: 0; }
.ads-ad .ads-ad-list div.row-1 { background-color: #E7F3FF; }
.ads-ad div.col-1 { width: 323px; }
.ads-ad div.col-2 { width: 90px; }
.ads-ad div.col-3 { width: 60px; }
.ads-ad div.col-4 { width: 60px; }
.ads-ad div.col-5 { width: 80px; }
/* -------- END */
/* Right colume BEGIN */
.col-module { position: relative; float: left; margin-bottom: 15px; }
.col-module .box-border-round { border-bottom: 5px solid #005BAB; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
#news-tabs { position: relative; float: left; }
#news-tabs .news-tab-title { position: absolute; width: 259px; height: 43px; padding: 0 5px; background-color: #F7F7F7; overflow: hidden; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; }
#news-tabs .news-tab-title div { position: relative; float: left; color: #999; height: 22px; padding: 5px; margin-top: 10px; }
#news-tabs .news-tab-title div.tabs-active, #news-tabs .news-tab-title div:hover { background-color: #fff; color: #000; z-index: 2; cursor: pointer; border-top: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; border-left: 1px solid #EAEAEA; margin-right: 2px; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; }
#news-tabs .news-tab-content { position: relative; float: left; margin-top: 40px; padding-top: 20px; border-top: 3px solid #EAEAEA; }
#news-tabs .news-tab-content ul { list-style: none; margin: 0 10px; padding: 0; }
#news-tabs .news-tab-content ul li { list-style: none; margin-bottom: 10px; }
#news-tabs .news-tab-content ul li a h5 { color: #005BAB; font-weight: bold; line-height: 1.4em; text-align: justify; }
#news-tabs .news-tab-content ul li a:hover h5 { color: #F78C00; }

.box-holder-right { position: relative; float: left; }
.box-holder-right-content { position: relative; float: left; width: 250px; padding: 10px; }
#project-category .box-holder-right-content ul li { padding-left: 20px; background: url('../images/note.png') no-repeat scroll 0 8px transparent; }

.box-holder-right-content div { position: relative; float: left; width: 120px; }
#land-location .box-holder-right-content div ul li { padding-left: 20px; background: url('../images/note.png') no-repeat scroll 0 -63px transparent; }
#land-location .box-holder-right-content .col-1, #support-online .box-holder-right-content .col-1 { margin-right: 10px; }

#hot-keys-tags .box-holder-right-content { text-align: justify; }
#hot-keys-tags .box-holder-right-content a { color: #00AEF1; }
#hot-keys-tags .box-holder-right-content a.hot { font-size: 16px; font-weight: bold; }

.box-holder-right-content a:hover, #hot-keys-tags .box-holder-right-content a:hover { color: #F78C00; }
/* -------- END */
/* Bottom links BEGIN */
#bottom-links { margin: 5px; padding: 15px; background-color: #F5F5F5; }
.widecol { width: 50%; float:left; }
.narrowcol { width: 50%; float:left; }
#right .widecol, #right .narrowcol { width:33% }
#bottom-links a:hover { text-decoration:underline; color: #0081AF; }
#bottom-links .title a { color:#0081AF; font-weight:bold; text-transform:uppercase; font-size: 12px; margin-bottom: 5px; }
#bottom-links a { color:#000; text-decoration:none; font-size: 11px; }
#bottom-links .pline { margin-top:20px; }
/* -------- END */
/* Footer BEGIN */
#footer { margin: 30px 0; color: #005BAB; font-weight: bold; text-align: center; }
/* -------- END */